<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Product: ' + product.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="product-listing">
    <p th:text="${'ID: ' + product.id}"></p>
    <p th:text="${'Name: ' + product.name}"></p>
    <p th:text="${'Current Quantity: ' + product.quantity}"></p>
<!--    <p th:text="${'Quantity Taken: ' + product.employer}  "></p>-->
    <p th:text="${'Replenish Quantity: ' + product.quantity}"></p>
    <p th:text="${'Safety Stock: ' + product.quantity}"></p>
<!--    <p th:text="${'Skill: ' + product.skill}"></p>-->
    <label form="quantity">Quantity Taken</label>
    <form th:action="*{'submit/' + product.id}" method='post'>// work on submit button
    <input type="number" id="quantity" name="quantity" min="1" max="10000">
    <input type="submit">
    </form>
<!--    <form action="${'/delete/' + product.id}" method = 'post'>-->
<!--        <form th:action="@{'/delete/' + ${product.id}}" method = 'post'>-->
<!--    <form th:action="${delete/} + ${product.id}">-->
<!--        <form th:action="${'delete/'+ product.id}" method="post">-->
            <form th:action="*{'delete/'+ product.id}" method="post">


        <button onclick="myFunction()">Delete</button>

    </form>
</div>


</body>
</html>